.sidebar{
  margin-top: 11vh;
  min-height: 89vh;
}
.header{
  min-height: 11vh;
  background-color: #ffffff !important;
  padding: 0;
  box-shadow: 1px 2px 9px #7F7F80;
  z-index: 999;
  width:100%;
  position:fixed
}

.layout-content{
   margin:18vh 5vh;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px -5px #ddd;
    margin-bottom: 5vh;
    float: right;
  
}

.ant-breadcrumb{
  background-color: #f0f2f5 !important;
  margin: -5em -1.5em 5em -1.5em;
  padding: 0.8em;
}
.backtop{
  background-color: #001529;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 2px 9px #7F7F80;
}
.back-top{
  padding: 6px;
  color: #ffffff;
}

.welcome-text{
  text-align: center;
  font-weight: 600;
  font-size: large;
}
.dropdown-header{
  padding: 10px;
  float: right;
  padding-right: 15px;
}

